h3 {
	color: green;
}

#container {
	width: 400px;
}
div.comment, div.comment-text, input, textarea, strong.author {
	width: 100%;
}

div.comment {
	border: 1px dashed #ccc;
	padding: 5px;
	margin-bottom: 5px;
}

div.comment-text {
	padding: 5px;
	font-size: 10px;
	overflow: hidden;
	white-space: pre;
}


strong.author {
	display: block;
}
